<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Дорый день, <%= @user.name %></h1>
<p>
  У Вас новый ответ на ваш вопрос.<%= @url %>.
</p>
</body>
</html>