<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Добрый день, <%= @user.name %></h1>
<p>
  Для в входу пройдите по ссылке <%= @url %>.
</p>
<p>Приятного общения!</p>
</body>
</html>